*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;

  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main styles */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.title {
  margin-bottom: 72px;

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.045em;
  text-transform: capitalize;

  color: #2e2f42;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 76px;

  color: #4d5ae5;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo span {
  color: #2e2f42;
}
.menu {
  display: flex;
  gap: 40px;

  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.menu-item {
}
.menu-link {
  display: inline-block;
  padding: 24px 0;
  color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.header-contacts {
  font-style: normal;
}
.header-contacts-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  line-height: 150%;
  letter-spacing: 0.02em;
}
.header-contact {
  /* margin-right: 40px; */
}
.header-contact:hover,
.header-contact:focus {
  color: #404bbf;
}

/* ===Main=== */

.section {
  padding: 120px 0;
}

.hero {
  padding: 188px 0;
  text-align: center;

  background-color: #2e2f42;
}
.hero-title {
  margin: 0 auto 48px;
  max-width: 496px;

  font-size: 56px;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 0.02em;

  color: #ffffff;
}
.hero-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  padding: 16px 32px;

  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.advantages {
  background-color: #ffffff;
}
.advantages-title {
}
.advantages-items {
  display: flex;
  gap: 24px;
}
.advantages-item {
  max-width: 264px;
}
.advantage-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}
.advantage-description {
  line-height: 150%;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
}
.team-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-basis: 264px;
  flex-wrap: wrap;
}
.team-member {
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-photo {
}
.team-description {
  padding: 32px 0;
}
.team-name {
  margin: 0 16px 8px 16px;

  text-align: center;

  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.02em;

  color: #2e2f42;
}
.team-position {
  text-align: center;

  line-height: 150%;
  letter-spacing: 0.02em;
}
.portfolio {
  background-color: #ffffff;
}
.portfolio-title {
}
.portfolio-list {
  display: flex;
  justify-content: space-between;
  align-content: start;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-card {
  flex-basis: calc((100% - 48px) / 3);
  flex-shrink: 1;
}
.portfolio-card:hover {
}
.card {
  background: #fff;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.card-image {
}
.card-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.card-title {
  margin-bottom: 8px;

  color: #2e2f42;

  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.02em;
}
.card-category {
  color: #434455;

  line-height: 150%;
  letter-spacing: 0.02em;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;

  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;

  color: #f4f4fd;

  line-height: 150%;
  letter-spacing: 0.02em;
}
